@import url('https://fonts.googleapis.com/css?family=Raleway');

    .cards {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        max-width: 820px;
    }

    .card--1 .card__img, .card--1 .card__img--hover {
        background-image: url('https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }

    .card--2 .card__img, .card--2 .card__img--hover {
        background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
    }


    .card--3 .card__img, .card--3 .card__img--hover {
        background-image: url('https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }

    .card--4 .card__img, .card--4 .card__img--hover {
        background-image: url('https://images.pexels.com/photos/1230677/pexels-photo-1230677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }


    .card__like {
        width: 18px;
    }

    .card__img {
      visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 235px;
      border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    }

    .card__info-hover {
        position: absolute;
        padding: 16px;
      width: 100%;
      opacity: 0;
      top: 0;
    }

    .card__img--hover {
      transition: 0.2s all ease-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
      position: absolute;
        height: 235px;
      border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

    }
    .card {
      margin-right: 25px;
      transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
      background-color: #fff;
        width: 33.3%;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }
    .card:hover {
      box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
        transform: scale(1.10, 1.10);
    }

    .card__info {
    z-index: 2;
      background-color: #fff;
      border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
       padding: 16px 24px 24px 24px;
    }

    .card__category {
        font-family: "Raleway", sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #000;
    }

    .card__title {
        margin-top: 5px;
        margin-bottom: 10px;
        font-family: "Raleway", sans-seriff;
        color: #404040;
    }

    .card:hover .card__img--hover {
        height: 100%;
        opacity: 0.3;
    }

    .card:hover .card__info {
        background-color: transparent;
        position: relative;
    }

    .card:hover .card__info-hover {
        opacity: 1;
    }
