@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
    --bg-color: #1D1D1D;
    --nav-color: #000;
    --sec-color: #2a9d8f;
    --text-color: #fff;
    --text-color2: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color2);
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15rem;
}

h2 {
    font-size: 3rem;
}


.line {
    width: 60%;
}




#wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
  /*height: 80vh;
  min-height:20em;*/
  width:80%;
  margin:0 auto;

}
.innerdiv{
  display: flex;
  flex-direction:column;
  align-items: center;
  outline: none;
}
svg {
  width:100%
}
circle {
  fill: none;
  stroke-width: 3;
  stroke: #24303a;
}
path {
  fill: transparent;
  stroke-width: 3;
  stroke-linecap: round;
}

#aPath {
  stroke: #1ed5f6;
}
#bPath {
  stroke: #f61ed5;
}
#gPath {
  stroke: #d5f61e;
}

text {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 5px;
  fill: Linen;
}

@media only screen and (min-width:480px) {
  #wrapper {
  display: flex;
  flex-direction:row;
  height: 60vh;
  min-height:20em;
}
  p {
    font-size:3vw;}
}


/*
==========
nav
==========
*/

nav {
    background: var(--nav-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 3.3rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    letter-spacing: 4px;
}

.nav-items a,
.logo-sml a {
    transition: all 250ms ease-in-out;
}

.nav-items a:hover,
.logo-sml a:hover {
    color: var(--sec-color);
}

.logo-sml {
    letter-spacing: 20px;
    margin: auto 0;
    font-size: 2rem;
}

.logo-sml img{
    width: 60%;

}

span {
    color: var(--sec-color);
}


.skills {
    height: auto;
    margin: 9rem 0 10rem 0;
    text-align: center;
    border-radius: 15px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    gap: 2rem;
}


/*
==========
MEDIA QUERIES
==========
*/

@media (max-width: 1200px) {
    .logo-sml {
        display: none;
    }

    .nav-items {
        width: 100%;
    }
}


@media (max-width: 800px) {
    .nav-items {
        flex-direction: column;
    }

    * h2 {
        font-size: 2rem;
    }
    nav {
        height: auto;
        position: relative;
    }

    .nav-items li {
        padding: .3rem;
    }

    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}